.selected_pill {
  background-color: whitesmoke;
  margin-right: 0.5em;
  padding: 0.5em 0.5em 0 0;
}

.selected_pill button {
  background-color: lightgrey;
  border: none;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}