table {
  border-collapse: collapse;
  font-family: monospace;
  margin: 0 2em;
}

tbody tr:hover {
  color: red;
  /* background-color: red !important; */
}

tbody tr:nth-child(odd) {
  background-color: lightskyblue;
}

tbody tr:nth-child(even) {
  background-color: azure;
}

th {
  padding: 1em;
  text-align: start;
}

thead {
  cursor: pointer;
  font-size: large;
}
