.sort_arrow {
  padding-left: 1em;
}

table {
  border-collapse: collapse;
  font-family: monospace;
  margin: 0 2em;
}

thead {
  cursor: pointer;
  font-size: large;
}

tbody tr:hover {
  color: red;
  /* background-color: red !important; */
}

tbody tr:nth-child(odd) {
  background-color: lightskyblue;
}

tbody tr:nth-child(even) {
  background-color: azure;
}

td, th {
  text-align: start;
}

td {
  padding: 1em;
}

th {
  padding: 1em 3em 1em 1em;
  /* force sort direction arrow on same line with header text */
  white-space: nowrap;
}